<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.finalpj.repository.BoardDAO">
	<insert id="insertBoard">
		insert into board(pin, title, writer, content) values(#{pin},#{title}, #{writer}, #{content})
	</insert>
	<select id="selectBoardList" resultType="com.ezen.finalpj.domain.BoardVO">
		select * from board order by pin desc, bno desc
		<!-- select * from board order by (case when pin = 1 then 1 else 0 end) bno desc -->
	</select>
	<select id="selectBoardDetail" resultType="com.ezen.finalpj.domain.BoardVO">
		select * from board where bno=#{bno}
	</select>
	<update id="updateBoardView">
		update board set view = view+1 where bno=#{bno}
	</update>
	<update id="updateBoard">
		update board set pin=#{pin}, title=#{title}, content=#{content} where bno=#{bno}
	</update>
	<delete id="deleteBoard" parameterType="int">
		delete from board where bno=#{bno}
	</delete>
	<select id="selectBoardListPaging" resultType="com.ezen.finalpj.domain.BoardVO">
		select*from board order by pin desc, bno desc limit #{pageStart}, #{qty}
	</select>
	<select id="selectBoardListCount" resultType="int">
		select count(bno) from board
	</select>
</mapper>