<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.finalpj.repository.ScheduleDAO">
	<select id="selectListSch" resultType="com.ezen.finalpj.domain.ScheduleVO">
		select * from schedule where grno=#{grno} and isDone=0 order by meetdate
	</select>
	<insert id="insertSch">
		insert into schedule(grno, meetdate, title, spot, max_member, cost)
		values(#{grno}, #{meetdate}, #{title}, #{spot}, #{max_member}, #{cost})
	</insert>
	<select id="selectGrnoSch" resultType="int">
		select grno from schedule where sno=#{sno}
	</select>
	<delete id="deleteSch">
		delete from schedule where sno=#{sno}
	</delete>
	<update id="updateJoinMem">
		update schedule set joinmember=joinmember+1 where sno=#{sno}
	</update>
	<select id="selectMaxSno" resultType="int">
		select max(sno) from schedule
	</select>
	<update id="updateJoinMemDelete">
		update schedule set joinmember=joinmember-1 where sno=#{sno}
	</update>
	<update id="updateIsDonePut">
		update schedule set isDone=1 where sno=#{sno}
	</update>
</mapper>